
*{
  margin: 0;
  padding: 0;
  letter-spacing: -0.1;
}

#container{
  width: 1310px;
  height: 1220px;
  background-color: #f6f6f6;
  margin: 100px auto;
  padding: 40px 0;
}
.info{
  width: 1200px;
  height: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; /*center,space-between*/
}

.non-mark{
  width: 532px;
  height: 1138px;
  box-sizing: border-box;
  margin-right: 50px;
}
.marginT20{
  width: 642px;
  height: 1138px;
  border: 1px solid black;
  box-sizing: border-box;
}

dl{
  margin-bottom: 10px;
}
dl strong{
  font-size: 18px;
  margin-bottom: 10px;
  display: inline-block;
}
dt{
  color: #333;
  font-size: 20px;
  letter-spacing: -0.1;
  font-weight: 600;
  margin-bottom: 10px;
}
dd{
  color: #666;
  font-size: 18px;
}

.use01{
  color: rgb(184, 49, 47);
  margin-left: 25px;
  margin-bottom: 15px;
}
.use01 span{color: #666;}
.use02{
  margin-left: 65px;
  color: #666;
}