*{margin: 0; padding: 0;}
table{
  /*width를 px로 조절하면 고정형 그리드, %단위로 조절하면 가변형 그리드*/
  width: 80%; 
  border-top: 2px solid #111;
  margin: 30px auto;
}
table, th, td{border-collapse: collapse;}
th, td{
  border-bottom: 1px solid #111;
  text-align: center;
  height: 40px;
}

.c01{width: 10%;}
.c02{width: 35%;}
.c03{width: 15%;}
.c04{width: 20%;}
.c05{width: 20%;}

@media screen and(max-width:800px){
  .c01{display: none;}
  .c02{width: 50%;}
  .c03{width: 20%;}
  .c04{width: 20%;}
  .c05{width: 20%;}
}
@media screen and(max-width:500px){
  .c01{display: none;}
  .c02{width: 50%;}
  .c03{display: none;}
  .c04{width: 20%;}
  .c05{width: 20%;}
}
@media screen and(max-width:500px){
  .c01{display: none;}
  .c02{width: 50%;}
  .c03{display: none;}
  .c04{width: 20%;}
  .c05{display: none;}
}