*{margin: 0; padding: 0;}
#container{
  width: 1200px; height: 900px;
  margin: 0 auto;
  border: 1px solid black;
}
header{
  width: 1200px; height: 120px;
  font-size: 40px; text-align: center; line-height: 120px;
  background: rgba(159, 174, 217, 0.544);
}
section{
  width: 1200px; height: 600px; 
  display: flex;
}
.cont1{
  width: 800px; height: 600px;
  background: rgb(235, 232, 181);
}
.cont2{
  width: 400px; height: 600px;
  background: rgb(162, 214, 170);
}
footer{
  width: 1200px; height: 180px;
  background: pink;
}